<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/chats.css">
    <title>Chats</title>
</head>
<body>
    <body>
        <div id="header"></div>
        <h1>Чаты</h1>
        <div style="display: flex; justify-content: space-around;">
            <div id="chats"></div>
            <div id="mesages">
                <div id="divSendMessage" style="text-align: right;">
                    <input id="inputMessage" />
                    <button onclick="sendMessage()">Send</button>
                </div>
            </div>
        </div>


        <script src="../JavaScript/header.js"></script>
        <script src="../JavaScript/chats.js"></script>
    </body>
</body>
</html>